### Importação dos dados

In [15]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv("Loja_1.csv")
loja2 = pd.read_csv("Loja_2.csv")
loja3 = pd.read_csv("Loja_3.csv")
loja4 = pd.read_csv("Loja_4.csv")
lojas = pd.concat([loja1, loja2, loja3, loja4], ignore_index=True)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [ ]:
lojas.columns
print(lojas.columns)

Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon',
       'Faturamento'],
      dtype='object')

In [ ]:
lojas['Faturamento'] = loja['Preço'] + loja['Frete']

In [ ]:
faturamento_total = lojas['Faturamento'].sum()
print(f'Faturamento total : R$ {faturamento_total:,.2f}')

Faturamento total : R$ 1,616,347.09

# 2. Vendas por Categoria

In [ ]:
lojas['Faturamento'] = loja['Preço'] + loja['Frete']

In [ ]:
vendas_por_categoria = lojas.groupby('Categoria do Produto')['Faturamento'].sum().sort_values(ascending=False)
vendas_por_categoria

Categoria do Produto
eletronicos              603278.238660
eletrodomesticos         510678.320571
moveis                   263505.317336
instrumentos musicais    128243.495861
esporte e lazer           55216.657567
brinquedos                25299.265959
utilidades domesticas     17789.381598
livros                    12336.410244
Name: Faturamento, dtype: float64

# 3. Média de Avaliação das Lojas

In [ ]:
media_avaliacoes = loja.groupby('Local da compra')['Avaliação da compra'].mean().sort_values(ascending=False)

In [ ]:
print(media_avaliacoes)

Local da compra
AC    5.000000
RO    4.600000
PI    4.500000
MA    4.500000
PE    4.387097
MG    4.124528
TO    4.090909
SP    4.089431
PB    4.071429
DF    4.037736
RS    4.000000
RN    4.000000
MT    4.000000
SC    3.978947
PR    3.968750
GO    3.882353
ES    3.868421
AL    3.800000
AP    3.750000
CE    3.750000
MS    3.666667
RJ    3.637584
BA    3.573333
SE    3.357143
PA    3.272727
AM    2.666667
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [20]:
import matplotlib.pyplot as plt

In [21]:
for loja_nome, dados_loja in lojas.groupby('Local da compra'):
    resumo = dados_loja["Produto"].value_counts()

Mais vendidos

In [29]:
mais_vendidos = resumo.idxmax()
qtd_mais = resumo.max()
print(f'O produto mais vendidos : {mais_vendidos} {qtd_mais}')

O produto mais vendidos : Cama box 5

Menos vendido

In [28]:
menos_vendido = resumo.idxmin()
qtd_menos = resumo.min()
print(f'O produto menos vendido : {menos_vendido} {qtd_menos}')

O produto menos vendido : Cubo mágico 8x8 1

# 5. Frete Médio por Loja